include LICENSE README.md
recursive-include src *.cpp *.h
exclude src/fbn_network.cpp src/fbn_network.h
recursive-include tests *.py
include example.bn example_fbn.csv
recursive-include data *.rda
global-exclude __pycache__ *.py[cod] *.so
